@model Morgenmadsbuffet.Models.Buffet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buffet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedInAdult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedInAdult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedInChildren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedInChildren)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.orderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
